<template>
    <div id="my-text">
        This is my text
    </div>
</template>

<script>
    export default {
        data() {
            return {
                message: 'Hello World'
            }
        },
        beforeCreate() { // trước quá trình 1 component dc khởi tạo. data lúc này chưa dc khai báo
            console.log(this.message)
        },
        created() { //component dc khởi tạo và ngay lập tức thao tác đến data, nhưng lúc này DOM chưa dc mount và render
            console.log(this.message)
            console.log(document.getElementById('my-text').innerHTML)
        },
        beforeMount() { // Sau khi tạo component và trước khi render DOM
            console.log(this)
            console.log(document.getElementById('my-text').innerHTML)
         },
         mounted() { // sau khi data, template, dom dc render
            console.log(this.$el)
            console.log(document.getElementById('my-text').innerHTML)
         }
    }
</script>

<style lang="scss" scoped>
</style>