<template>
	<div class="list-rendering">
		<ul>
            <li v-for="(value, key, index) in listComplete">{{ value.name }}- at key {{ key }} - at index {{ index }}</li>
        </ul>
</div>
	</div>
</template>

<script>
    export default {
        data() {
            return {
                foods: [
                    { name: 'Hamburger' , isComplete: true },
                    { name: 'Sandwich', isComplete: true },
                    { name: 'Chicken chop', isComplete: false },
                    { name: 'Chicken 4' , isComplete: true},
                    { name: 'Chicken 5', isComplete: true },
                    { name: 'Chicken 6' , isComplete: false},
                ]
            }
        },
        computed: {
            listComplete(){
                return this.foods.filter(item => item.isComplete == false);
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>