<template>
    <div class="list-user">
    	<div class="table-responsive">
	       <table class="table table-hover">
	            <thead>
	                <th>Name</th>
	                <th>Location</th>
	                <th>DOB</th>
	            </thead>
	            <tbody>
	                <tr v-for="user in userData">
	                    <td><a @click="selectUser(user)">{{ user.name.title }} - {{ user.name.last }} {{ user.name.first }}</a></td>
	                    <td>{{ user.location.city }}</td>
	                    <td>{{ user.dob }}</td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
    </div>
</template>

<script>
	import data from './userdata.json'
    export default {
    	data (){
    		return{
    			userData : data,
    			mynumber: '0908532383',
    			myname: 'Trần Quốc Việt'
    		}
    	},
    	methods:{
    		selectUser(user){
    			this.$emit('userSelectedEvent', user, this.mynumber, this.myname)
    		}
    	},
    	watch:{
    		selectUser(user){
    			alert('aaa')
    			console.log('clicked')
    		}
    	}

    }
</script>

<style lang="scss" scoped>
</style>