<template>
    <div class="user-detail">
        This is user detail
        <div class="user-detail-container" v-if="Object.keys(userDetailInfo).length !==0 ">
        	<div class="user-name">
                Name: {{ userDetailInfo.name.last }} {{ userDetailInfo.name.first }}
            </div>
            <div class="user-email">
                Email: {{ userDetailInfo.email }}
            </div>
            <div class="user-dob">
                DOB: {{ userDetailInfo.dob }}
            </div>
            <div class="user-gender">
                Gender: {{ userDetailInfo.gender }}
            </div>
            <div class="user-address">
                Address: {{ userDetailInfo.location.city }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    	props:{ //khai báo định dạng được lấy từ cha là 1 object
    		userDetailInfo:{
    			type: Object
    		}
    	}
    }
</script>

<style lang="scss" scoped>
</style>