<template>
    <div class="user-dashboard">
        This is user dashboard.
        <div class="list-user-comp">
        	<h4>List User</h4>
            <ListUser @userSelectedEvent = "childrenSelectedUser('test', ...arguments)"></ListUser>
        </div>
        <div class="user-detail-comp">
        	<h4>User Detail</h4>
            <UserDetail :userDetailInfo="userSelectedFromChild"></UserDetail>
        </div>
    </div>
</template>

<script>
	import ListUser from './ListUser.vue'
	import UserDetail from './UserDetail.vue'
    export default {
    	components:{
    		ListUser, UserDetail
    	},
    	data(){
    		return {
    			userSelectedFromChild : {}
    		}
    	},
    	methods: {
    		childrenSelectedUser(text, user, mynum, myname){
    			console.log(text)
    			console.log(mynum)
    			console.log(myname)
    			this.userSelectedFromChild = user
    		}
    	}
    }
</script>

<style lang="scss" scoped>
</style>